:root{
    --theme: #7395ff;
    --primary-color: #030303;
    --header-color: #0055b8;
    --link-color: #033dad;
    --accent-color: #105cba;

    --font-hero: 24px;
    --font-l: 18px;
    --font-xm: 16px;
    --font-m: 14px;
    --font-s: 12px;
    --font-xs: 10px; 
}
html,
body {
    overflow: hidden;
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-m);
    margin: 0;
    overflow: auto;
}
a{
    text-decoration: none;
    transition: all 0.3s;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 12px 32px;
    grid-auto-rows: minmax(min-content, max-content);
}
.grid > *{
    grid-column: span 12;
}
.sub-grid {
    grid-column-gap: 0;
}
.icon{
    width: 12px;
    height: 12px;
    padding: 2px 6px 2px 0;
    fill: grey;
}
.grade-icon .icon{
    width: 14px;
    height: 14px;
    padding: 0 4px 0 0;
}
.icon-div{
    display: flex;
    padding: 2px 2px 2px 0;
}
#container {
    max-width: 768px;
    margin: auto;
    padding: 36px 24px;
    border-top: 8px solid var(--theme);
    border-bottom: 8px solid var(--theme);
}
.grid > main {
    grid-column: span 9;
}
.grid > aside {
    grid-column: span 3;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
#idcard, #contact{
    font-size: var(--font-s);
}
#contact{
    margin: 36px 36px 0 36px;
}
.idcard-name{
    font-size: var(--font-hero);
    margin-bottom: 6px;
}
.idcard-title, .idcard-location, #contact{
    color: var(--accent-color);
}
.idcard-linkedin, .idcard-github{
    cursor: pointer;
}
h4{
    font-size: var(--font-xm);
    margin: 0 0 8px 0;
    color: var(--header-color);
}
.small{
    font-size: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head .left{
    display: flex;
    align-items: center;
    font-size: var(--font-xm);
    font-weight: 600;
    color: var(--accent-color);
}
.head .right{
    font-size: var(--font-s);
    color: var(--accent-color);
}
#profile > div, #experience > div, #education > div{
   padding-left: 18px;
}
#experience > div{
    padding-right: 12px;
}
#experience ul{
    padding-left: 24px;
}
#experience ul li{
    margin-bottom: 8px;
}
#education section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
#education .right{
    font-size: var(--font-s);
    color: var(--accent-color);
}
#languages > ul, #tools > ul, #others > ul{
    list-style: none;
    padding: 0;
    margin-bottom: 36px;
}
#tools > ul{
    column-count: 2;
}
@media (max-width: 640px) {
    #container>* {
        grid-column: span 12;
    }
    #header{
        flex-direction: column;
    }
    #idcard > div, #contact > div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #idcard > div > div, #contact > div > div{
        margin-right: 18px
    }
    .idcard-name{
        text-align: center;
        width: 100%;
    }
    #contact{
        margin: 0;
        margin-top: 2px;
    }
    #contact > div > div.address-line:first-child{
        margin-right: 6px;
    }
    h4{
        font-size: var(--font-l);
        text-align: center;
    }
    .head{
        flex-direction: column;
    }
    .head > div{
        display: flex;
        justify-content: center;
    }
    .head .right{
        flex-direction: row;
    }
    .head .right > div{
        display: inline-flex;
        margin-right: 12px;
    }
    #education section{
        flex-direction: column;
    }
    #education section > div{
        justify-content: center;
        text-align: center;
    }
    #education .right{
        flex-direction: row;
    }
    #education .right > div{
        display: inline-flex;
        margin-right: 12px;
    }
}